POSTGRES_DB=assistant
POSTGRES_USER=assistant
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_DEFAULT_USER=assistant
RABBITMQ_DEFAULT_PASS=change_me
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
PGADMIN_DEFAULT_EMAIL=admin@albert.local
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050
